<ul class="dropdown menu" data-dropdown-menu>
  <li> <%= link_to "Shop", index_products_path %>
    <ul class="menu">
      <% get_product_categories.each  do |product_category| %>
        <li><%= link_to product_category, show_category_path(product_category) %></li>
      <% end %>
    </ul>
  </li>
	  <li><%= link_to "My Cart", show_cart_path  %></li>
	<% if current_user %>
    <li><%= link_to "User Account", user_account_path %></li>
    <li><%= link_to 'Logout', logout_path %></li>
  <% else %>
    <li><%= link_to 'Login', "/auth/github/" %></li>
  <% end %>
</ul>
