  <%= render partial: 'layouts/greeting' %>


<div class="basic">


<div class="wrapper">


	<div class="row small-up-1 medium-up-2 large-up-4">
    <!-- <section class="front-page"> -->
    <h4 class="headline">Shop by Category</h4>
		<!-- <div class="product-info"> -->
			<% @product_categories.each do |product_category| %>
				<article class="column">

  				<ul class='product-info'>

            <li class='headline'>
            <%= link_to(image_tag(Product.random_photo(product_category), :class=>'product_photo'), image_path(show_category_path(product_category))) %>
            </li >
            <li class='headline'> <%= link_to product_category, show_category_path(product_category) %> </li>

  				</ul>
					</article>
			<% end %>
      <!-- </section> -->
	</div>
</div>

<div class="wrapper">
  <div class="row small-up-1 medium-up-2 large-up-4">
    <h4 class="headline"><%= link_to "Browse All Collections", index_products_path%></h4>
  </div>


  <div class="row small-up-1 medium-up-2 large-up-4">
    <h4 class="headline">Find Your Product</h4>
      <%= form_tag(search_products_path(), :method => "get") do %>
        <%= search_field_tag("query", nil, :placeholder => "search")%>
        <%= submit_tag "Submit", :name => nil %>
    <% end %>

    <% if current_user %>
      <%= button_to "Create New Product", new_products_path, method: :get, :class => 'button' %>
    <% end %>
  </div>
</div>

</div>


