<div class="basic">
	<%= render partial: 'layouts/greeting' %>


	<h3>Shop by Category</h3>

	<span class="columns small-12 small-12">
		<div class="product-info">
			<h3><%= link_to "Browse All Collections", index_products_path%></h3>
		</div>
	</span>

<%= form_tag(search_products_path(), :method => "get") do %>
  <%= search_field_tag("query", nil, :placeholder => "search")%>
  <%= submit_tag "Submit", :name => nil %>
<% end %>

<% if current_user %>
  <%= button_to "Create New Product", new_products_path, method: :get, :class => 'button' %>
<% end %>

</div>


