<div class="basic">
	<%= render partial: 'layouts/greeting' %>


	<h3>Shop by Category</h3>

	<span class="columns small-12 small-12">
		<!-- <div class="product-info"> -->
			<% @product_categories.each do |product_category| %>
				<div class="column">

					<div class="row">
						<article class="column">
							<h3><%= link_to product_category, show_category_path(product_category) %></h3>

								<ul class='product-info'>
									<li><%= link_to(image_tag(Product.random_photo(product_category)), image_path(show_category_path(product_category))) %></li>
								</ul>
							</article>
					</div>
				</div>

			<% end %>



			<h3><%= link_to "Browse All Collections", index_products_path%></h3>
		</div>
	</span>

<%= form_tag(search_products_path(), :method => "get") do %>
  <%= search_field_tag("query", nil, :placeholder => "search")%>
  <%= submit_tag "Submit", :name => nil %>
<% end %>

<% if current_user %>
  <%= button_to "Create New Product", new_products_path, method: :get, :class => 'button' %>
<% end %>

</div>


