<div class="basic">
	<%= render partial: 'layouts/greeting' %>


	<h3>Shop by Category</h3>

	<span class="columns small-12 small-12">
		<% @product_categories.each do |product_category| %>
      <li><%= link_to product_category, show_category_path(product_category) %></li>
 
  		<li><%= link_to "My Cart", show_cart_path  %></li>
  		<li>  <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', "/auth/github/" %>
        <% end %></li>
		<% end %>

		<div class="product-info">
			<h3><%= link_to "Browse All Collections", index_products_path%></h3>
		</div>
	</span>

<%= form_tag(search_products_path(), :method => "get") do %>
  <%= search_field_tag("query", nil, :placeholder => "search")%>
  <%= submit_tag "Submit", :name => nil %>
<% end %>

<% if current_user %>
  <%= button_to "Create New Product", new_products_path, method: :get, :class => 'button' %>
<% end %>

</div>


