<h3><%= @user.name %>'s Account</h3>
<p>User id: <%= @user.id %></p>
<p>User Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h3>Seller Management</h3>

<p>Total Revenue: $<%= @total_revenue %></p1>
<p>Paid Revenue: $<%= @paid_revenue %></p1>
<p>Fulfilled Revenue: $<%= @fulfilled_revenue %></p1>
<p>Cancelled Revenue: $<%= @cancelled_revenue %></p1>
