<h3><%= @user.name %>'s Account</h3>
<p>User id: <%= @user.id %></p>
<p>User Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<%= link_to "Buyer Managment", buyer_manage_path, :class => "button" %>
<%= link_to "Seller Managment", seller_manage_path, :class => "button" %>
