<h1>Cart Details:</h1>
<p><%= @product.name %></p>
<p><%= @product.price %></p>
<%= form_for @order_item, url: create_orders_path, method: :post do |f| %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>


  <%= f.submit %>
<% end %>
