<div class="basic">

  <h3>Checkout</h3>
  
  <% @order_items.each do |order_item| %>
    <!-- because order_item model belongs to product model, so I can use order_item.product, which works as attr_reader-->
    <p><%= link_to "#{order_item.product.name}", show_products_path(order_item.product.id)%></p>
    <p>$<%= order_item.unit_price %></p>
    <p> Qty: <%= order_item.quantity %></p>

  <% end %>

  <p>Cart subtotal:$<%= @order.total_price %></p>

    <%= render partial: "checkout_form", locals: {action_name: "patch"} %>

    <%= link_to "Back to Cart", show_cart_path, :method => :get, :class => "button" %>
</div>
