<div class="basic">
  <div class="form">
  <%= form_for @product, method: @post_method, url: @post_path do |f| %>

    <div class="field">
      <%= f.label "Product Name: " %>
      <%= f.text_field :name, "Product Name" => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Description: " %>
      <%= f.text_field :description, "Description" => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Price: " %>
      <%= f.number_field :price, step: 0.01, "Price" => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Inventory: " %>
      <%= f.number_field :inventory, step: 1, "Inventory" => nil, :required => true %>
    </div>

    <div class="field">
      <%= f.label "Category: " %>
      <%= f.select :category, Product.uniq.pluck(:category), "Category" => nil, :required => true %>
    </div>

    <%= f.submit "Submit", class: 'button' %>
  <% end %>
  
  <%=link_to "Cancel", root_path, class: "button alert" %>
  
  </div>
</div>
