<div class = "basic">
  <div class="wrapper">
    <div class='main'>




<!-- ALL SELLER ITEMS BUTTON -->

<%= button_to("Other Items by this Seller", show_seller_products_path(@product.id), method: :get) %>

<!-- THE IMAGE -->
    <div class="row product_info">

      <div class="column small-7 small-centered large-uncentered columns">

        <%= image_tag(@product.photo_url, :class => 'product_detail') %>

      </div>

<!-- </div> -->

<!-- <div class="wrapper"> -->

<!--THE TEXT  -->

      <div class="column small-5 small-centered large-uncentered columns">

        <div class="row">
          <div class="small-12 columns">
            <h4 class="headline"> <%= @product.name %> </h4>
          </div>
        </div>

 <div class="row">
          <!-- <div class="small-12 columns"> -->
            <p><%= @product.description %></p>
           <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
            <p>Price: $<%= @product.price %></p>
          <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
            <p>In-stock: <%= @product.inventory %></p>
          <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
            <p>Category: <%= @product.category %></p>
          <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
            <p>Seller: <%= link_to "#{@seller.name}", show_seller_products_path %></p>
          <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
            <p>Average rating: <%= @product.average_rating %></p>
          <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
          <p>Review:
              <% @reviews.each do |review| %></p>

                <p><%= review.description %></p>
              <% end %>
          <!-- </div> -->
        </div>

        <div class="row">
          <!-- <div class="small-12 columns"> -->
            <div class="quantity">
              <%= form_tag(add_to_cart_path, method: :post) do %>
                <%= label_tag :quantity %>
                <%= select_tag :quantity, options_for_select((1..@product.inventory), 1) %>
                <%= hidden_field_tag(:product_id, @product.id) %>

                <%= submit_tag "Add to Cart" %>
              <% end  %>
            </div>
          <!-- </div> -->
        </div>

<!-- Review BUTTON -->
  <%= button_to("Review Product",new_reviews_path(@product.id), action: :new, method: :get)%>
<%if @product.user_id == session[:user_id]%>

<!-- Review Delete Button -->
<% if @owner.id == session[:user_id]
   %>
<%= button_to "delete review", destroy_reviews_path(@review.id), action: :destroy, method: :delete %>
<% end %>


<!-- EDIT BUTTON -->
  <% if @product.user_id == session[:user_id] %>
  <%= button_to("Edit: #{@product.name}",edit_products_path(@product.id), action: :edit, method: :get)%>
  <% end %>




  <!-- DELETE BUTTON -->



<!-- DELETE BUTTON -->

<%=button_to "delete", destroy_products_path(@product.id), action: :destroy, method: :delete, class: 'button alert' %>
<% end %>

<!-- BELOW IS THE END DIV FOR THE PRODUCT TEXT -->
      </div>


<!-- BELOW IS ROW END DIV -->
    </div>

</div>
<!-- BELOW IS WRAPPER END DIV -->
  </div>
<!-- BELOW IS BASIC END DIV -->
</div>
