<h1> <%= @product.name  %> </h1>
<%= image_tag(@product.photo_url, :class => "class_name") %>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Inventory: <%= @product.inventory %></p>
<p>Category: <%= @product.category %></p>
<p>Seller: <%#link_to @seller.name, by_seller_products_path %></p>
<p>Average rating: <%= @product.average_rating %></p>

<p>review: <% @reviews.each do |review| %></p>
          <p><%= review.description %></p>
        <% end %>
