<h1> @product.name </h1>
<%= image_tag(@product.url), :class => "class_name" %>
Price: <%= @product.price %>
Description: <%= @product.description %>
Inventory: <%= @product.inventory %>
Category: <%= @product.category %>
Seller: <%= @seller.name %>
Average rating: <%= @product.average_rating %>
review: <%= @review.description %>
