<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag 'vamp_favicon.ico' %>
    <title>Vampazon</title>
    <%= stylesheet_link_tag "application.css" %>
  </head>

  <body>
    <header>
      <div class="top-bar">

        <div class="top-bar-left">
          <a href="/"><%= image_tag("Homepage/Vampazon.png", alt: "Vampazon Home", class: "logo") %></a>
        </div>

        <nav>
          <div class="top-bar-right">
            <%= render partial: '/homepages/navigation_links' %>
          </div>

        </nav>
      </div>
    </header>


    <%= render 'layouts/messages' %>

    <%= yield %>

  </body>

</html>
