<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

    <title>Vampazon</title>
    <%= stylesheet_link_tag "application.css"%>
  </head>

  <body>
    <nav>
      <div class="top-bar">
        <div class="top-bar-left">
          <a href="/"><%= image_tag("Homepage/Vampazon.png", alt: "Vampazon Home") %></a>
        </div>

        <div class="top-bar-right">
          <%= render partial: '/homepages/navigation_links' %>
          <% get_product_categories.each do |product_category| %>
            <li><%= link_to product_category, show_category_path(product_category) %></li>
          <% end %>
        </div>
      </div>
    </nav>

    <%= render 'layouts/messages' %>

    <%= yield %>

  </body>

</html>
